<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contacts</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="public/images/favicon.ico">
		<link rel="shortcut icon" href="public/images/favicon.ico" />
		<link rel="stylesheet" href="public/css/form.css">
		<link rel="stylesheet" href="public/css/style.css">
		<script src="public/js/jquery.js"></script>
		<script src="public/js/jquery-migrate-1.2.1.js"></script>
		<script src="public/js/script.js"></script>
		<script src="public/js/TMForm.js"></script>
		<script src="public/js/superfish.js"></script>
		<script src="public/js/jquery.ui.totop.js"></script>
		<script src="public/js/jquery.equalheights.js"></script>
		<script src="public/js/jquery.mobilemenu.js"></script>
		<script src="public/js/jquery.easing.1.3.js"></script>
    <script src="public/js/jssor.core.js"></script>
    <script src="public/js/jssor.utils.js"></script>
    <script src="public/js/jssor.slider.js"></script>
    <script>
	    jssor_slider1_starter = function (containerId) {
	      var options = {
	        $AutoPlay: true,
	        $SlideDuration: 800,
	        $ThumbnailNavigatorOptions: {
            $Class: $JssorThumbnailNavigator$,
            $ChanceToShow: 2,
            $ActionMode: 1,
            $SpacingX: 8,
            $DisplayPieces: 10,
            $ParkingPosition: 360
	        }
	      };
	      var jssor_slider1 = new $JssorSlider$(containerId, options);
	    };
    </script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li class="current"><a href="index.php">Reservas</a></li>
								<li><a href="public/index-1.html">Ofertas especiales</a></li>
								<li><a href="public/index-3.html">Blog</a></li>
								<li><a href="public/index-4.html">Contacta</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="public/images/logo.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
			<div class="container_12">
				<div class="grid_5">
					<h3>{{info.servic.nomser}} ({{info.servic.codsca}})</h3>
					<address>
						<dl>
							<dd><span>Direcci&oacute;n: </span>{{info.servic.serinf.dir}}</dd>
							<dd><span>Tel&eacute;fono: </span>{{info.servic.serinf.tel}}</dd>
							<dd><span>Email: </span>{{info.servic.serinf.mai}}</dd>
						</dl>
					</address>
					<div class="map">
						<figure class="">
							<iframe src="https://maps.google.com/maps?q={{info.servic.serinf.gps.y}},{{info.servic.serinf.gps.x}}&amp;output=embed"></iframe>
						</figure>
					</div>
					{% for desser in info.servic.desser %}
						{% for descdo in desser.descdo %}
							<p>{{descdo.deslar}}</p>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="grid_6 prefix_1">
					<h3>Galería</h3>


			    <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 500px;
			        height: 356px; background: #24262e; overflow: hidden;">

		        <!-- Loading Screen -->
		        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
	            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
	                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
	            </div>
	            <div style="position: absolute; display: block; background: url(public/images/loading.gif) no-repeat center center;
	                top: 0px; left: 0px;width: 100%;height:100%;">
	            </div>
		        </div>

		        <!-- Slides Container -->
		        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 500px; height: 256px; overflow: hidden;">
							{% for desser in info.servic.desser %}
								{% for descdo in desser.descdo %}
		            <div>
		                <img u="image" src="{{descdo.urlimg}}" />
		                <img u="thumb" src="{{descdo.urlimg}}" />
		            </div>
								{% endfor %}
							{% endfor %}
				    </div>

        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
        
            <!-- Thumbnail Item Skin Begin -->
            <style>
                .jssort01 .w
                {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }
                .jssort01 .c {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 68px;
                    height: 68px;
                    border: #000 2px solid;
                }
                .jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
                    background: url(public/images/t01.png) center center;
                    border-width: 0px;
                    top: 2px;
                    left: 2px;
                    width: 68px;
                    height: 68px;
                }
                .jssort01 .p:hover .c, .jssort01 .pav:hover .c {
                    top: 0px;
                    left: 0px;
                    width: 70px;
                    height: 70px;
                    border: #fff 1px solid;
                }
            </style>
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                    <div class=w><thumbnailtemplate style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
                    <div class=c>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
					</div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						Your Trip (c) 2014 | <a href="#">Privacy Policy</a> | Website Template Designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
    <script>
        jssor_slider1_starter('slider1_container');
    </script>
	</body>
</html>